<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Contacts</title>
    <!-- Ajoutez ici vos liens CSS ou frameworks comme Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Gestion des Contacts</h1>
        <nav>
            <a href="{% url 'contact_list' %}" class="text-white mx-2">Liste des Contacts</a>
            <a href="{% url 'contact_create' %}" class="text-white mx-2">Créer un Contact</a>
        </nav>
    </header>

    <main class="container my-4">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3 mt-4">
        <p>&copy; 2025 Gestion des Contacts by Efcharisto BATAMIO</p>
    </footer>

    <!-- Ajoutez ici vos scripts JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>