{% extends "contacts/base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">
    {% if form.instance.pk %}
        Modifier le Contact
    {% else %}
        Créer un Nouveau Contact
    {% endif %}
</h2>

<form method="post" class="bg-white p-6 rounded-lg shadow-md">
    {% csrf_token %}
    <div class="mb-4">
<form method="post" class="bg-d5abd p-6 rounded-lg shadow-md">
        <label class="block text-gray-700">Prénom</label>
        {{ form.prenom }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700">Nom</label>
        {{ form.nom }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700">Téléphone</label>
        {{ form.telephone }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700">Réseau</label>
        {{ form.reseau }}
    </div>
    <div class="mb-4">
        <label class="block text-gray-700">Catégorie</label>
        {{ form.categorie }}
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Enregistrer</button>
    <a href="{% url 'contact_list' %}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Annuler</a>
</form>
{% endblock %}